# LaTeX aux/build files
*.aux
*.log
*.lot
*.lof
*.out
*.toc
*.blg
*.bbl
*.fdb_latexmk
*.fls
*.synctex.gz
*.dvi

# Generated thesis PDFs (except for main thesis PDF)
ch_*.pdf
preface_*.pdf
app_*.pdf

# Local reference material not for repo
Aaron/
